#wall_arijit
{
    height: 313px;
    position: relative;
    top: 28px;
    left: 100px;
    border: 3px solid white;
    border-radius: 15px;
}
.Artist_Container
{
    display: grid;
    grid-template-columns: 1fr 6fr;
}
.Artist_SongList
{
    display: flex;
}
.Artist_SongList label:hover
{
    scale: 1.2;
    transition: 0.2s ease-in;
}
.Artist_SongList:hover
{
    background-color: black;
    color: white;
}
.other:hover
{
    background-color: black;
    color: white;
}
.Artist_SongList img
{
    position: relative;
    top: 17px;
    height: 40px;
    border-radius: 5px;
    left:28px;
}
#Art_Number
{
    margin-left: 113px;
}
#Art_name
{
    margin-left: 124px;
}
#Art_name:hover
{
    font-weight: bold;
}
#Arijit_number
{
    padding-left: 103px;
    font-weight: bold;
}
#Arijit_name
{
    padding-left: 153px;
    font-weight: bold;
}
@media screen and (max-width: 460px) 
{
    #wall_arijit
    {
        height: 268px;
        top: 51px;
        left: 11px;
    }
    #Arijit_number
    {
        padding-left: 9px;
        font-weight: bold;
    }
    #Arijit_name
    {
        padding-left: 63px;
        font-weight: bold;
    }
    .phone
    {
        width: max-content;
    margin-left: -97px;
    }
    #Art_name {
        margin-left: 39px;
    }
}
