.TopLike1 {
    display: inline-block;
    position: relative;
    top: 351px;
    left: 251px;
    z-index: 3;
}
.TopLike2 {
    display: inline-block;
    position: relative;
    z-index: 3;
    top: 351px;
    left: 474px;
}
.TopLike3 {
    display: inline-block;
    position: relative;
    top: 351px;
    left: 695px;
    z-index: 3;
}
.TopLike4 {
    display: inline-block;
    position: relative;
    top: 351px;
    left: 916px;
    z-index: 3;
}
.TopLike5 {
    display: inline-block;
    position: relative;
    top: 719px;
    left: 50px;
    z-index: 3;
}
.TopLike6 {
    display: inline-block;
    position: relative;
    top: 719px;
    left: 274px;
    z-index: 3;
}
.TopLike7 {
    display: inline-block;
    position: relative;
    top: 719px;
    left: 495px;
    z-index: 3;
}
.TopLike8 {
    display: inline-block;
    position: relative;
    top: 719px;
    left: 717px;
    z-index: 3;
}
.TopLike9 {
    display: inline-block;
    position: relative;
    top: 1185px;
    left: -148px;
    z-index: 3;
}
.TopLike10 {
    display: inline-block;
    position: relative;
    top: 1185px;
    left: 74px;
    z-index: 3;
}
.TopLike11 {
    display: inline-block;
    position: relative;
    top: 1185px;
    left: 295px;
    z-index: 3;
}
.TopLike12 {
    display: inline-block;
    position: relative;
    top: 1185px;
    left: 517px;
    z-index: 3;
}
.TopLike13 {
    display: inline-block;
    position: relative;
    top: 1585px;
    left: -349px;
    z-index: 3;
}
.TopLike14 {
    display: inline-block;
    position: relative;
    top: 1585px;
    left: -127px;
    z-index: 3;
}
.TopLike15 {
    display: inline-block;
    position: relative;
    top: 1585px;
    left: 96px;
    z-index: 3;
}
.TopLike16 {
    display: inline-block;
    position: relative;
    top: 1585px;
    left: 318px;
    z-index: 3;
}
.TopLike17 {
    display: inline-block;
    position: relative;
    top: 2006px;
    right: 548px;
    z-index: 3;
}
.TopLike18 {
    display: inline-block;
    position: relative;
    top: 2006px;
    right: 326px;
    z-index: 3;
}
.TopLike19 {
    display: inline-block;
    position: relative;
    top: 2006px;
    right: 104px;
    z-index: 3;
}
.TopLike20 {
    display: inline-block;
    position: relative;
    top: 2006px;
    right: -118px;
    z-index: 3;
}
.TopLike21 {
    display: inline-block;
    position: relative;
    top: 2438px;
    z-index: 3;
    right: 748px;
}
.TopLike22 {
    display: inline-block;
    position: relative;
    top: 2438px;
    z-index: 3;
    right: 526px;
}
.TopLike23 {
    display: inline-block;
    position: relative;
    top: 2438px;
    z-index: 3;
    right: 305px;
}
.TopLike24 {
    display: inline-block;
    position: relative;
    top: 2438px;
    z-index: 3;
    right: 82px;
}
.TopLike25 {
  display: inline-block;
  position: relative;
  top: 2882px;
  right: 948px;
  z-index: 3;
}
.TopLike26 {
  display: inline-block;
  position: relative;
  top: 2828px;
  left: 524px;
  z-index: 3;
}
.TopLike27 {
  display: inline-block;
  position: relative;
  top: 2828px;
  left: 746px;
  z-index: 3;
}
.TopLike28 {
  display: inline-block;
  position: relative;
  top: 2828px;
  left: 968px;
  z-index: 3;
}
.TopLike29 {
  display: inline-block;
  position: relative;
  top: 3302px;
  left: 102px;
  z-index: 3;
}
.TopLike30 {
  display: inline-block;
  position: relative;
  top: 3302px;
  left: 324px;
  z-index: 3;
}
.TopLike31 {
  display: inline-block;
  position: relative;
  top: 3302px;
  left: 546px;
  z-index: 3;
}
.TopLike32 {
  display: inline-block;
  position: relative;
  top: 3302px;
  left: 768px;
  z-index: 3;
}
.TopLike33 {
  display: inline-block;
  position: relative;
  top: 3714px;
  right: 98px;
  z-index: 3;
}
.TopLike34 {
  display: inline-block;
  position: relative;
  top: 3714px;
  right: -124px;
  z-index: 3;
}
.TopLike35 {
  display: inline-block;
  position: relative;
  top: 3714px;
  right: -346px;
  z-index: 3;
}
.TopLike36 {
  display: inline-block;
  position: relative;
  top: 3714px;
  right: -568px;
  z-index: 3;
}
.TopLike37 {
  display: inline-block;
  position: relative;
  top: 4199px;
  right: 298px;
  z-index: 3;
}
.TopLike38 {
  display: inline-block;
  position: relative;
  top: 4199px;
  right: 76px;
  z-index: 3;
}
.TopLike39 {
  display: inline-block;
  position: relative;
  top: 4199px;
  left: 146px;
  z-index: 3;
}
.TopLike40 {
  display: inline-block;
  position: relative;
  top: 4199px;
  left: 367px;
  z-index: 3;
}
.TopLike41 {
  display: inline-block;
  position: relative;
  top: 4590px;
  right: 498px;
  z-index: 3;
}
.TopLike42 {
  display: inline-block;
  position: relative;
  top: 4590px;
  right: 276px;
  z-index: 3;
}
.TopLike43 {
  display: inline-block;
  position: relative;
  top: 4590px;
  right: 54px;
  z-index: 3;
}
.TopLike44 {
  display: inline-block;
  position: relative;
  top: 4590px;
  left: 168px;
  z-index: 3;
}
.TopLike45 {
  display: inline-block;
  position: relative;
  top: 4990px;
  right: 698px;
  z-index: 3;
}
.TopLike46 {
  display: inline-block;
  position: relative;
  top: 4990px;
  right: 476px;
  z-index: 3;
}
.TopLike47 {
  display: inline-block;
  position: relative;
  top: 4990px;
  right: 254px;
  z-index: 3;
}
.TopLike48 {
  display: inline-block;
  position: relative;
  top: 4990px;
  right: 32px;
  z-index: 3;
}
.TopLike49 {
  display: inline-block;
  position: relative;
  top: 5390px;
  right: 898px;
  z-index: 3;
}
.TopLike50 {
  display: inline-block;
  position: relative;
  top: 5390px;
  right: 676px;
  z-index: 3;
}
