.Head
{
    display: grid;
    grid-template-columns: 1fr 6fr;
}
.main_bh
{
    background:  radial-gradient( circle 369px at -2.9% 12.9%,  rgba(247,234,163,1) 0%, rgba(236,180,238,0.56) 46.4%, rgba(163,203,247,1) 100.7% );
}
.Wallpaper
{
    /* border: 4px solid red; */
    height: 300px;
}
.Wallpaper img
{
    height: 200px;
    /* width: 100%; */
    position: relative;
    top: 100px;
    left: 100px;
    border: 3px solid white;
    border-radius: 15px;
}
.desricption
{  
    margin-top: 53px;
    margin-left: 100px;
    margin-right: 100px;
}
.title
{
    margin-left:100px;
}
.title p
{
    font-size: 20px;
}
.list
{
    display: flex;
}
.number
{
    margin-left: 108px;
    font-size: 20px;
    font-weight: bold;
}
.number p
{
    margin-bottom: 28px;
}
.song_name
{
    margin-left: 43px;
}   
.list_head
{
    display: flex;
    font-size: 25px;
}
.list_name h4
{
    padding-bottom: 12px;
}
.list_name:hover
{
    background-color:black;
    border-radius: 7px;
    cursor: pointer;
    color:white;
    transition: 0.3s ease-out;
    scale: 1.05;
    opacity: 0.8
}
.list_art
{
    margin-left: 67px;
    margin-top: 5px;
}
.list_art_name p
{
    padding-bottom: 18px;
}
.song_img
{
    display: flex;
    flex-direction: column;
    margin-left: 42px;
    margin-top: 14px;
}
.song_img img
{
    height: 40px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.song_img img:hover
{
    transition: 0.3s ease-out;
    scale: 1.1;
}
.space
{
    height: 300px;
}
.duration
{
    margin-top: 8px;
    margin-left: 90px;
}
.duration p
{
    margin-bottom: 36px;
}
.heart1{
    display: inline-block;
    position: relative;
    top: -230px;
    left: 138px;
}
.heart1:hover
{
    cursor: pointer;
    scale:1.2;
    transition: 0.2s ease-in;
}
.heart1 path
{
    stroke:black;
    stroke-width: 3px;
}
.heart2{
    display: inline-block;
    position: relative;
    top: -175px;
    left: 118px;
}
.heart2:hover
{
    cursor: pointer;
    scale:1.2;
    transition: 0.2s ease-in;
}
.heart2 path
{
    stroke:black;
    stroke-width: 3px;
}
.heart3{
    display: inline-block;
    position: relative;
    top: -121px;
    left: 98px;
}
.heart3:hover
{
    cursor: pointer;
    scale:1.2;
    transition: 0.2s ease-in;
}
.heart3 path
{
    stroke:black;
    stroke-width: 3px;
}
.heart4{
    display: inline-block;
    position: relative;
    top: -66px;
    left: 78px;
}
.heart4:hover
{
    cursor: pointer;
    scale:1.2;
    transition: 0.2s ease-in;
}
.heart4 path
{
    stroke:black;
    stroke-width: 3px;
}
.alert
{
    background-color: black;
    padding: 23px;
    position: sticky;
    top: 0px;
    z-index: 3;
    opacity: 0.8;
}
.alert nav
{
    display: flex;
    justify-content: flex-start;
}
.alert h1
{
    color: white;
    margin: 0px;
    margin-left: 67px;
}
#alert_heading
{
   
    background-color: greenyellow;
    border-radius: 20px;
    display: flex;
    width: 30px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;

}
#close
{
    position: relative;
    top: 2px;
    right: -600px;
}
#close img
{
    height: 28px;
}
#close img:hover
{
cursor: pointer;
}
#Album_number
{
    padding-left: 103px;
    font-weight: bold;
}
#Album_name
{
    padding-left: 103px;
    font-weight: bold;
}
#Album_artist
{
    padding-left: 145px;
    font-weight: bold; 
}
#Album_duration
{
    padding-left: 430px;
    font-weight: bold;
}
@media screen and (max-width: 460px) 
{
    #bhediya_space
    {
        height: 414px;
    }
    .desricption
    {
        display: none;
    }
    .playerImage {
        position: relative;
        top: 13px;
        /* left: -7px; */
        right: 0px;
        margin-right: 64px;
    }
    .Player_comp
    {
        margin-right: 0px;
    }
    .repeat {
        margin: 20px;
        display: inline-block;
        position: relative;
        cursor: pointer;
        top: auto;
        /* left: 44px; */
    }
    #heart1_bhediya {
        display: inline-block;
        position: relative;
        top: -283px;
        left: 58px;
    }
    #heart2_bhediya {
        display: inline-block;
        position: relative;
        top: -227px;
        left: 38px;
    }
    #heart3_bhediya {
        display: inline-block;
        position: relative;
        top: -173px;
        left: 19px;
    }
    #heart4_bhediya {
        display: inline-block;
        position: relative;
        top: -119px;
        left: -1px;
    }
    .desricption {
        margin-top: 53px;
        margin-left: 15px;
        margin-right: 100px;
    }
    .title {
        margin-left: 15px;
    }
    #Album_number
    {
        padding-left: 19px;
        font-weight: bold;
    }
    #Album_name
    {
        padding-left: 76px;
    font-weight: bold;
    }
    #Album_artist
    {
        padding-left: 80px;
        font-weight: bold;
    }
    .number {
        margin-left: 26px;
        font-size: 20px;
        font-weight: bold;
    }
    .song_name {
        margin-left: 10px;
    }
    .list_art {
        margin-left: 9px;
        margin-top: 5px;
        width: 270px;
    }
    .duration {
        display: none;
    }
    .Wallpaper img {
        height: 200px;
        /* width: 100%; */
        position: relative;
        top: 116px;
        left: 6px;
        border: 3px solid white;
        border-radius: 15px;
    }
    #Album_duration
    {
        display: none;
    }
    .list_name h4 
    {
        padding-bottom: 5px;
    }
    .alert
    {
        display: none;
    }
}