.list_art_kgf{
    margin-left: 120px;
    margin-top: 5px;
    width: 29%;
}
#Number_kgf
{
    padding-left: 103px;
    font-weight: bold;
}
#Name_kgf
{
    padding-left: 106px;
    font-weight: bold;
}
#Artists_kgf
{
    padding-left: 145px;
    font-weight: bold;
}
#Duration_kgf
{
    padding-left: 361px;
    font-weight: bold;
}
.heart1_k
{
    display: inline-block;
    position: relative;
    top: -240px;
    left: 137px;
}
.heart1_k:hover
{
    cursor: pointer;
    scale:1.2;
    transition: 0.2s ease-in;
}
.heart1_k path {
    stroke: black;
    stroke-width: 3px;
}
.heart2_k
{
    display: inline-block;
    position: relative;
    top: -185px;
    left: 116px;
}
.heart2_k:hover
{
    cursor: pointer;
    scale:1.2;
    transition: 0.2s ease-in;
}
.heart2_k path {
    stroke: black;
    stroke-width: 3px;
}
.heart3_k
{
    display: inline-block;
    position: relative;
    top: -132px;
    left: 95px;
}
.heart3_k:hover
{
    cursor: pointer;
    scale:1.2;
    transition: 0.2s ease-in;
}
.heart3_k path {
    stroke: black;
    stroke-width: 3px;
}
.heart4_k
{
    display: inline-block;
    position: relative;
    top: -77px;
    left: 75px;
}
.heart4_k:hover
{
    cursor: pointer;
    scale:1.2;
    transition: 0.2s ease-in;
}
.heart4_k path {
    stroke: black;
    stroke-width: 3px;
}
@media screen and (max-width: 460px) 
{
    #Number_kgf
    {
        padding-left: 19px;
    font-weight: bold;
    }
    #Name_kgf
    {
        padding-left: 71px;
    font-weight: bold;
    }
    #Artists_kgf
    {
        padding-left: 62px;
    font-weight: bold;
    }
    #Duration_kgf
    {
        display: none;
    }
    .list_art_kgf {
        margin-left: -12px;
        margin-top: 5px;
        width: 149px;
    }
    .heart1_k {
        display: inline-block;
        position: relative;
        top: -368px;
        left: 56px;
    }
    .heart2_k {
        display: inline-block;
        position: relative;
        top: -312px;
        left: 37px;
    }
    .heart3_k {
        display: inline-block;
        position: relative;
        top: -258px;
        left: 17px;
    }
    .heart4_k {
        display: inline-block;
        position: relative;
        top: -205px;
        left: -3px;
    }

}