#pushpa_number
{
    padding-left: 103px;
    font-weight: bold;
}
#pushpa_name
{
    padding-left: 104px;
    font-weight: bold;
}
#pushpa_artists
{
    padding-left: 205px;
    font-weight: bold;
}
#pushpa_Duration
{
    padding-left: 232px;
    font-weight: bold;
}
.duration_pushpa
{
    margin-top: 8px;
    margin-left: 200px;
}
.duration_pushpa p
{
    margin-bottom:35px ;
}
.song_name_pushpa
{
    margin-left: 43px;
}
.heart1_pushpa
{
    display: inline-block;
    position: relative;
    top: -283px;
    left: 136px;
}
.heart1_pushpa:hover
{
    cursor: pointer;
    scale:1.2;
    transition: 0.2s ease-in;
}
.heart1_pushpa path
{
    stroke: black;
    stroke-width: 3px;
}
.heart2_pushpa
{
    display: inline-block;
    position: relative;
    top: -228px;
    left: 115px;
}
.heart2_pushpa:hover
{
    cursor: pointer;
    scale:1.2;
    transition: 0.2s ease-in;
}
.heart2_pushpa path
{
    stroke: black;
    stroke-width: 3px;
}
.heart3_pushpa
{
    display: inline-block;
    position: relative;
    top: -174px;
    left: 95px;
}
.heart3_pushpa:hover
{
    cursor: pointer;
    scale:1.2;
    transition: 0.2s ease-in;
}
.heart3_pushpa path
{
    stroke: black;
    stroke-width: 3px;
}
.heart4_pushpa
{
    display: inline-block;
    position: relative;
    top: -117px;
    left: 75px
}
.heart4_pushpa:hover
{
    cursor: pointer;
    scale:1.2;
    transition: 0.2s ease-in;
}
.heart4_pushpa path
{
    stroke: black;
    stroke-width: 3px;
}
.heart5_pushpa
{
    display: inline-block;
    position: relative;
    top: -64px;
    left: 55px;
}
.heart5_pushpa:hover
{
    cursor: pointer;
    scale:1.2;
    transition: 0.2s ease-in;
}
.heart5_pushpa path
{
    stroke:black;
    stroke-width: 3px;
}
@media screen and (max-width: 460px) 
{
    #pushpa_number
    {
        padding-left: 17px;
    font-weight: bold;
    }
    #pushpa_name
    {
        padding-left: 78px;
        font-weight: bold;  
    }
    #pushpa_artists
    {
        padding-left: 79px;
        font-weight: bold;
    }
    #pushpa_Duration
    {
        display: none;
    }
    .duration_pushpa
    {
        display: none;
    }
    .song_name_pushpa
    {
        margin-left: 10px;
    }
    .heart1_pushpa
    {
        display: inline-block;
        position: relative;
        top: -279px;
        left: 55px;
    }
    .heart2_pushpa
    {
        display: inline-block;
    position: relative;
    top: -224px;
    left: 34px;
    }
    .heart3_pushpa
    {
        display: inline-block;
    position: relative;
    top: -170px;
    left: 15px;
    } 
    .heart4_pushpa
    {
        display: inline-block;
        position: relative;
        top: -115px;
        left: -5px;
    }
    .heart5_pushpa
    {
        display: inline-block;
        position: relative;
        top: -59px;
        left: -26px;
    }
    .duration_pushpa
    {
        display: none;
    }
}